.states
*.db
*.py[cod]
.gpt-runner
.web
__init__.py
__pycache__
__pycache__/
assets/external/
env
experimento
infinite-background-animation
noise-background
parser.out
parsetab.py
requirements.txt
rxconfig.py
titulo
